nav {
    border-bottom: 1px solid rgba(84, 87, 84, 0.198);
}

.product-img {
    width: calc(300px + 5vw);
    height: calc(300px + 5vw);
    object-fit: cover;
    object-position: center;
}

.img-btn {
    width: calc(20px + 2.5vw);
    height: calc(20px + 2.5vw);
    object-fit: cover;
    object-position: center;
}

.product-content {
    width: 40vw;
}

.product-content button{
    width: calc(90px + 8vw);
    height: 36px;
    border-radius: 15px;
    border: none;
}

.star-rate {
    width: 18px
}

.product-div {
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .product-div {
        flex-direction: column;
        justify-content: space-between;
    }

    .product-img-selector {
        margin-bottom: 5vh;
    }

    .product-img {
        width: 100vw;
        height: 90vw;
        margin-left: 0;
        margin-left: -10vw;
    }

    .product-content {
        width: 80vw;
    }
}